*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(156, 192, 180);
    justify-content: center;
    align-items: centergit;
}